CEX2Client/src/META-INF/wsdl/localhost_8080/CEX2WebServer/CEX2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="CEX2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/CEX2WebServer/CEX2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="findLongestNameInServer">
<part name="parameters" element="tns:findLongestNameInServer"/>
</message>
<message name="findLongestNameInServerResponse">
<part name="parameters" element="tns:findLongestNameInServerResponse"/>
</message>
<message name="addStudentToServer">
<part name="parameters" element="tns:addStudentToServer"/>
</message>
<message name="addStudentToServerResponse">
<part name="parameters" element="tns:addStudentToServerResponse"/>
</message>
<message name="findStudentWithHighestGrade">
<part name="parameters" element="tns:findStudentWithHighestGrade"/>
</message>
<message name="findStudentWithHighestGradeResponse">
<part name="parameters" element="tns:findStudentWithHighestGradeResponse"/>
</message>
<message name="getStringLengthWithException">
<part name="parameters" element="tns:getStringLengthWithException"/>
</message>
<message name="getStringLengthWithExceptionResponse">
<part name="parameters" element="tns:getStringLengthWithExceptionResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="addNameToServer">
<part name="parameters" element="tns:addNameToServer"/>
</message>
<message name="addNameToServerResponse">
<part name="parameters" element="tns:addNameToServerResponse"/>
</message>
<message name="getStringLength">
<part name="parameters" element="tns:getStringLength"/>
</message>
<message name="getStringLengthResponse">
<part name="parameters" element="tns:getStringLengthResponse"/>
</message>
<portType name="CEX2WebService">
<operation name="hello">
<input wsam:Action="http://server/CEX2WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/CEX2WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="findLongestNameInServer">
<input wsam:Action="http://server/CEX2WebService/findLongestNameInServerRequest" message="tns:findLongestNameInServer"/>
<output wsam:Action="http://server/CEX2WebService/findLongestNameInServerResponse" message="tns:findLongestNameInServerResponse"/>
</operation>
<operation name="addStudentToServer">
<input wsam:Action="http://server/CEX2WebService/addStudentToServerRequest" message="tns:addStudentToServer"/>
<output wsam:Action="http://server/CEX2WebService/addStudentToServerResponse" message="tns:addStudentToServerResponse"/>
</operation>
<operation name="findStudentWithHighestGrade">
<input wsam:Action="http://server/CEX2WebService/findStudentWithHighestGradeRequest" message="tns:findStudentWithHighestGrade"/>
<output wsam:Action="http://server/CEX2WebService/findStudentWithHighestGradeResponse" message="tns:findStudentWithHighestGradeResponse"/>
</operation>
<operation name="getStringLengthWithException">
<input wsam:Action="http://server/CEX2WebService/getStringLengthWithExceptionRequest" message="tns:getStringLengthWithException"/>
<output wsam:Action="http://server/CEX2WebService/getStringLengthWithExceptionResponse" message="tns:getStringLengthWithExceptionResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/CEX2WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/CEX2WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="addNameToServer">
<input wsam:Action="http://server/CEX2WebService/addNameToServerRequest" message="tns:addNameToServer"/>
<output wsam:Action="http://server/CEX2WebService/addNameToServerResponse" message="tns:addNameToServerResponse"/>
</operation>
<operation name="getStringLength">
<input wsam:Action="http://server/CEX2WebService/getStringLengthRequest" message="tns:getStringLength"/>
<output wsam:Action="http://server/CEX2WebService/getStringLengthResponse" message="tns:getStringLengthResponse"/>
</operation>
</portType>
<binding name="CEX2WebServicePortBinding" type="tns:CEX2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findLongestNameInServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudentToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStudentWithHighestGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStringLengthWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNameToServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStringLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CEX2WebService">
<port name="CEX2WebServicePort" binding="tns:CEX2WebServicePortBinding">
<soap:address location="http://localhost:8080/CEX2WebServer/CEX2WebService"/>
</port>
</service>
</definitions>