Tutorial9BClient/xml-resources/web-service-references/RealService/wsdl/localhost_8080/Tutorial9B/RealService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="RealService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Tutorial9B/RealService?xsd=1"/>
</xsd:schema>
</types>
<message name="addTwoNumbersWithException">
<part name="parameters" element="tns:addTwoNumbersWithException"/>
</message>
<message name="addTwoNumbersWithExceptionResponse">
<part name="parameters" element="tns:addTwoNumbersWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addNumber">
<part name="parameters" element="tns:addNumber"/>
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addTwoNumbers">
<part name="parameters" element="tns:addTwoNumbers"/>
</message>
<message name="addTwoNumbersResponse">
<part name="parameters" element="tns:addTwoNumbersResponse"/>
</message>
<message name="addMyPoint3D">
<part name="parameters" element="tns:addMyPoint3D"/>
</message>
<message name="addMyPoint3DResponse">
<part name="parameters" element="tns:addMyPoint3DResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="averageOfAllNumbers">
<part name="parameters" element="tns:averageOfAllNumbers"/>
</message>
<message name="averageOfAllNumbersResponse">
<part name="parameters" element="tns:averageOfAllNumbersResponse"/>
</message>
<message name="addString">
<part name="parameters" element="tns:addString"/>
</message>
<message name="addStringResponse">
<part name="parameters" element="tns:addStringResponse"/>
</message>
<message name="findPointWithHighestZ">
<part name="parameters" element="tns:findPointWithHighestZ"/>
</message>
<message name="findPointWithHighestZResponse">
<part name="parameters" element="tns:findPointWithHighestZResponse"/>
</message>
<message name="findShortestBetween">
<part name="parameters" element="tns:findShortestBetween"/>
</message>
<message name="findShortestBetweenResponse">
<part name="parameters" element="tns:findShortestBetweenResponse"/>
</message>
<message name="findShortestBetweenWithException">
<part name="parameters" element="tns:findShortestBetweenWithException"/>
</message>
<message name="findShortestBetweenWithExceptionResponse">
<part name="parameters" element="tns:findShortestBetweenWithExceptionResponse"/>
</message>
<message name="findShortestAmongAllStrings">
<part name="parameters" element="tns:findShortestAmongAllStrings"/>
</message>
<message name="findShortestAmongAllStringsResponse">
<part name="parameters" element="tns:findShortestAmongAllStringsResponse"/>
</message>
<portType name="RealService">
<operation name="addTwoNumbersWithException">
<input wsam:Action="http://server/RealService/addTwoNumbersWithExceptionRequest" message="tns:addTwoNumbersWithException"/>
<output wsam:Action="http://server/RealService/addTwoNumbersWithExceptionResponse" message="tns:addTwoNumbersWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/RealService/addTwoNumbersWithException/Fault/Exception"/>
</operation>
<operation name="addNumber">
<input wsam:Action="http://server/RealService/addNumberRequest" message="tns:addNumber"/>
<output wsam:Action="http://server/RealService/addNumberResponse" message="tns:addNumberResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/RealService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/RealService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addTwoNumbers">
<input wsam:Action="http://server/RealService/addTwoNumbersRequest" message="tns:addTwoNumbers"/>
<output wsam:Action="http://server/RealService/addTwoNumbersResponse" message="tns:addTwoNumbersResponse"/>
</operation>
<operation name="addMyPoint3D">
<input wsam:Action="http://server/RealService/addMyPoint3DRequest" message="tns:addMyPoint3D"/>
<output wsam:Action="http://server/RealService/addMyPoint3DResponse" message="tns:addMyPoint3DResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/RealService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/RealService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="averageOfAllNumbers">
<input wsam:Action="http://server/RealService/averageOfAllNumbersRequest" message="tns:averageOfAllNumbers"/>
<output wsam:Action="http://server/RealService/averageOfAllNumbersResponse" message="tns:averageOfAllNumbersResponse"/>
</operation>
<operation name="addString">
<input wsam:Action="http://server/RealService/addStringRequest" message="tns:addString"/>
<output wsam:Action="http://server/RealService/addStringResponse" message="tns:addStringResponse"/>
</operation>
<operation name="findPointWithHighestZ">
<input wsam:Action="http://server/RealService/findPointWithHighestZRequest" message="tns:findPointWithHighestZ"/>
<output wsam:Action="http://server/RealService/findPointWithHighestZResponse" message="tns:findPointWithHighestZResponse"/>
</operation>
<operation name="findShortestBetween">
<input wsam:Action="http://server/RealService/findShortestBetweenRequest" message="tns:findShortestBetween"/>
<output wsam:Action="http://server/RealService/findShortestBetweenResponse" message="tns:findShortestBetweenResponse"/>
</operation>
<operation name="findShortestBetweenWithException">
<input wsam:Action="http://server/RealService/findShortestBetweenWithExceptionRequest" message="tns:findShortestBetweenWithException"/>
<output wsam:Action="http://server/RealService/findShortestBetweenWithExceptionResponse" message="tns:findShortestBetweenWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/RealService/findShortestBetweenWithException/Fault/Exception"/>
</operation>
<operation name="findShortestAmongAllStrings">
<input wsam:Action="http://server/RealService/findShortestAmongAllStringsRequest" message="tns:findShortestAmongAllStrings"/>
<output wsam:Action="http://server/RealService/findShortestAmongAllStringsResponse" message="tns:findShortestAmongAllStringsResponse"/>
</operation>
</portType>
<binding name="RealServicePortBinding" type="tns:RealService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addTwoNumbersWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTwoNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMyPoint3D">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="averageOfAllNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPointWithHighestZ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetweenWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findShortestAmongAllStrings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RealService">
<port name="RealServicePort" binding="tns:RealServicePortBinding">
<soap:address location="http://localhost:8080/Tutorial9B/RealService"/>
</port>
</service>
</definitions>