MockUp2AClient/xml-resources/web-service-references/TestWebService/wsdl/localhost_8080/CEXMockUp2A/TestWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="TestWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/CEXMockUp2A/TestWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findShortestBetween">
<part name="parameters" element="tns:findShortestBetween"/>
</message>
<message name="findShortestBetweenResponse">
<part name="parameters" element="tns:findShortestBetweenResponse"/>
</message>
<message name="findShortestBetweenWithException">
<part name="parameters" element="tns:findShortestBetweenWithException"/>
</message>
<message name="findShortestBetweenWithExceptionResponse">
<part name="parameters" element="tns:findShortestBetweenWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addString">
<part name="parameters" element="tns:addString"/>
</message>
<message name="addStringResponse">
<part name="parameters" element="tns:addStringResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<message name="addPerson">
<part name="parameters" element="tns:addPerson"/>
</message>
<message name="addPersonResponse">
<part name="parameters" element="tns:addPersonResponse"/>
</message>
<message name="findPersonWithLongestName">
<part name="parameters" element="tns:findPersonWithLongestName"/>
</message>
<message name="findPersonWithLongestNameResponse">
<part name="parameters" element="tns:findPersonWithLongestNameResponse"/>
</message>
<message name="findShortestAmongStrings">
<part name="parameters" element="tns:findShortestAmongStrings"/>
</message>
<message name="findShortestAmongStringsResponse">
<part name="parameters" element="tns:findShortestAmongStringsResponse"/>
</message>
<portType name="TestWebService">
<operation name="findShortestBetween">
<input wsam:Action="http://server/TestWebService/findShortestBetweenRequest" message="tns:findShortestBetween"/>
<output wsam:Action="http://server/TestWebService/findShortestBetweenResponse" message="tns:findShortestBetweenResponse"/>
</operation>
<operation name="findShortestBetweenWithException">
<input wsam:Action="http://server/TestWebService/findShortestBetweenWithExceptionRequest" message="tns:findShortestBetweenWithException"/>
<output wsam:Action="http://server/TestWebService/findShortestBetweenWithExceptionResponse" message="tns:findShortestBetweenWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/TestWebService/findShortestBetweenWithException/Fault/Exception"/>
</operation>
<operation name="addString">
<input wsam:Action="http://server/TestWebService/addStringRequest" message="tns:addString"/>
<output wsam:Action="http://server/TestWebService/addStringResponse" message="tns:addStringResponse"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://server/TestWebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://server/TestWebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
<operation name="addPerson">
<input wsam:Action="http://server/TestWebService/addPersonRequest" message="tns:addPerson"/>
<output wsam:Action="http://server/TestWebService/addPersonResponse" message="tns:addPersonResponse"/>
</operation>
<operation name="findPersonWithLongestName">
<input wsam:Action="http://server/TestWebService/findPersonWithLongestNameRequest" message="tns:findPersonWithLongestName"/>
<output wsam:Action="http://server/TestWebService/findPersonWithLongestNameResponse" message="tns:findPersonWithLongestNameResponse"/>
</operation>
<operation name="findShortestAmongStrings">
<input wsam:Action="http://server/TestWebService/findShortestAmongStringsRequest" message="tns:findShortestAmongStrings"/>
<output wsam:Action="http://server/TestWebService/findShortestAmongStringsResponse" message="tns:findShortestAmongStringsResponse"/>
</operation>
</portType>
<binding name="TestWebServicePortBinding" type="tns:TestWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findShortestBetween">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestBetweenWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersonWithLongestName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findShortestAmongStrings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestWebService">
<port name="TestWebServicePort" binding="tns:TestWebServicePortBinding">
<soap:address location="http://localhost:8080/CEXMockUp2A/TestWebService"/>
</port>
</service>
</definitions>